<form action="<%= clear_cart_path %>" method="post">
 <button type="submit" class="px-6 py-2 rounded-lg bg-red-500 text-white text-lg font-semibold transition-transform transform hover:scale-105 hover:bg-red-600 shadow-md !important">
    Очистить корзину
  </button>
</form>
