<div class="cart-summary mt-[-20px]" data-controller="discount">
  <div class="slider-label-container">
    <div class="slider-label">Передвигая слайдер, укажите сумму скидки</div>
    <div class="slider-value" data-discount-target="value">0 ₽</div>
  </div>

  <div class="slider-container">
    <div class="slider-labels">
      <span>0 ₽</span>
      <span>1000 ₽</span>
    </div>

    <input type="range" min="0" max="1000" value="0" class="slider" data-discount-target="slider" data-action="input->discount#update">
  </div>

  <div>
    Сумма заказа: <span data-discount-target="orderTotal" data-total="<%= @cart.total_price %>"><%= @cart.total_price %> ₽</span>
  </div>
</div>
